mixin slide(names, slideClasses)
  if names
    section(class=names+' '+slideClasses, data-bespoke-backdrop='backdrop ' + names.split(' ').map(function(name) { return 'backdrop--' + name; }).join(' '))
      block
  else
    section
      block

doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title Teknologi Framework IONIC2

  link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      +slide
        img.avatar(src='images/profile.jpg')
        h4 Teknologi Framework IONIC2 dalam Pengembangan Aplikasi Mobile Multi Platform

      +slide('orion')
        h1 Apa itu Framework IONIC ? <br />
        h3 framework yang dikhususkan untuk membangun aplikasi mobile hybrid dengan HTML5, CSS dan AngularJS

      +slide('still lightning')
        h2 History
        h3 Sebelumnya pendiri IONIC ingin membuat gebrakan revolusioner dengan mengubah konsep Write One Run Anywhere dengan satu base code berbasis Javascript,tetapi ide ini tidak disambut hangat oleh para Programer . sehingga pengembang IONIC akhirnya mempivot targetnya untuk para programer web yang ingin membuat aplikasi mobile.
        
      +slide('backbonejs')
        h3 Untuk mempelajari Ionic ada beberapa point yang harus di pahami terlebih dahulu,sebagai berikut:
        h4 1. HTML5/CSS/Javascript<br>2.AngularJS<br>3.Dasar-dasar Node.js/NPM<br>4.Phonegrap/Apache Cordova

      +slide('angularjs')
        h2 Komponen CSS dari Ionic 2
        h3 komponen/elemen CSS standar digunakan untuk smartphone, seperti button, list, card, form, range, tabs, grid dan lainnya.

      +slide('chrome')
        h3 Kelebihan Framework IONIC2 adalah ...
        h4 - Ionic Menggunakan lisensi Opensource<br>- Menggunakan teknologi web terbaru<br>- Target Hanya untuk Android 4 dan ios 7 Keatas<br>- Berbasis Apache Cordova /Phonegap

      +slide
        h1 Implementasinya ?

      +slide
        h4 Contoh IONIC2
        img(style='width:650px', src='images/gbrionic2.png')

      +slide
        h4 HiChat Application
        img(style='width:650px', src='images/Hichat.png')

      +slide
        h4 Perbandingan Ionic2 vs React Native Comparison
        iframe(type='text/html' width='640' height='360' src='http://www.youtube.com/embed/juWhxCz1Wmg?autoplay=1&origin=http://example.com'
    frameborder='0')

      +slide
        h3(style='width:490px') &ldquo;mempersingkat waktu dalam pengembangan, karena bersifat hybrid maka hanya coding 1 kali dan aplikasi dapat dibuild untuk beragam perangkat.&rdquo;

      +slide
        h1 Contoh Code Ionic2

      +slide
        pre.language-javascript
          code.
            var o = {};

            Object.observe(o, function(changes) {
              console.log(changes);
            });

      +slide
        pre.language-javascript
          code.
            // Add a property
            o.foo = 'bar';

            // Change record:
            [{ name: "foo",
               object: o,
               type: "add" }]
      +slide
        pre.language-javascript
          code.
            // Update a property:
            o.foo = 123;

            // Change record
            [{ name: "foo",
               object: o,
               oldValue: "bar",
               type: "update" }]
      +slide
        pre.language-javascript
          code.
            delete o.foo;

            // Change record:
            [{ name: "foo",
               object: o,
               oldValue: 123,
               type: "delete" }]
      +slide
        pre.language-javascript
          code.
            Object.freeze(o);

            // Change record:
            [{ object: o,
               type: "preventExtensions" }]

      +slide
        h1 Instalasi IONIC2
        

      +slide
        h2 Install Node.Js
        pre.language-javascript
          code.
            $ sudo apt-get install python-software-properties python g++ make
            $ sudo add-apt-repository ppa:chris-lea/node.js
            $ sudo apt-get update
            $ sudo apt-get install nodejs

        +slide
        h2 Install Cordova
        $ sudo npm install -g cordova

      +slide
        h2 Create Your Project
        h4 $ ionic start HelloWorld blank
        h4 $ ionic platform add ios
        h4 $ ionic platform add android

      +slide
        img.avatar(src='images/profile.jpg')
        br
        h2 Thanks
        a(href='https://github.com/siojurnalispipin/Presentasi', style='border:none')
          h3 https://github.com/siojurnalispipin/Presentasi

    script(src='build/build.js')
